.chat-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.chat-layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

@media (max-width: 840px) {
  .chat-layout-container {
    padding: 0 1rem;
  }
}